<div class="relative min-h-screen flex flex-col bg-gray-100">
  <!-- Header Section -->
  <div class="sticky top-0 bg-white shadow-md z-10 flex items-center px-4 h-16">
    <button (click)="goBack()" class="flex items-center">
      <img class="w-6 h-6" src="/images/arrow.png" alt="Back" />
    </button>
    <div class="flex items-center space-x-3 ml-4">
      <img
        class="w-10 h-10 rounded-full"
        src="/images/girl-pf.png"
        alt="User"
      />
      <span class="text-xl font-semibold">{{ receiverName()?? "Saved Messages" }}</span>
    </div>
    <div class="ml-auto relative">
      <button (click)="toggleMoreOption()" class="p-2">
        <img class="w-6 h-6" src="/images/more.png" alt="More" />
      </button>
      @if (moreOptionShow()){
      <div
        class="absolute top-12 right-0 w-48 rounded-lg border bg-white shadow-lg p-4"
      >
        <ul class="list-none text-gray-700 space-y-3 text-base">
          <li class="cursor-pointer hover:text-blue-500">Clear Messages</li>
          <li class="cursor-pointer hover:text-blue-500">Block User</li>
          <li class="cursor-pointer hover:text-blue-500">Starred Messages</li>
          <li class="cursor-pointer hover:text-blue-500">Search</li>
        </ul>
      </div>
      }
    </div>
  </div>

  <!-- Messages Section -->
  <div
    #messageContainer
    class="flex-1 overflow-y-auto bg-[url('/images/chat-bg-wa.png')] bg-cover bg-center p-4"
  >
    @for (item of messages(); track $index; ) {
    <app-chat-component
      [timeSend]="item.createdAt"
      [text]="item.text"
      [isSender]="user()!.username !== item.senderUsername"
    />
    } @if (isReceiverTyping()) {
    <div class="w-full text-center mt-2">
      <div
        class="inline-flex items-center justify-center px-4 py-2 text-white bg-blue-500 rounded-full text-sm"
      >
        Typing...
      </div>
    </div>
    }
    <!-- Last Child for Scrolling -->
    <div class="w-full h-[100px]"></div>
  </div>

  <!-- Input Section -->
  <form
    (submit)="sendMessage()"
    [formGroup]="messageForm"
    class="sticky bottom-0 bg-white shadow-md flex items-center px-4 py-2 space-x-2"
  >
    <input
      (ngModelChange)="typingEvent()"
      formControlName="message"
      class="flex-1 border border-gray-300 rounded-lg px-3 py-2 outline-none focus:ring focus:ring-blue-300"
      placeholder="Type a message..."
      type="text"
    />
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg"
    >
      Send
    </button>
  </form>
</div>
